/*======================================================
seccion 1
========================================================*/


header center#logo img{
    width: 80px;
    height: 80px;
    border-radius: 800%; 
    margin-top: 20px ;   
}

/*======================================================
tablas
========================================================*/

table tr:hover{
    background: rgba(100, 0, 255, 0.4);
}